:root {
    --azul-claro:#EAF2FD;
    --cinza-claro:#E5E5E5;
    --btn-az:#2A7AE4;
    --bg-color: #FEFEFE;
    --input-placeholder: #222222;
    --input-bg: #f1eeee;
    --highlight: #000000;
    --green-highlight: #9acd32;
    --dark-green-highlight: #5e8151;
    --bg-contact: #EAF2FD;
    --grey: #ebebeb;
    --dark-grey: #464646;
    --font: 'Raleway', sans-serif;
}
body{
    background: var(--cinza-claro);
}

.container {
    padding: 1rem;
}

.btns {
    display: block;
    text-align: center;
    cursor: pointer;
    width: 200px;
    height: 50px;
    box-sizing: border-box;
    overflow: hidden;   
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 400;
    border: 1px solid var(--btn-az);
    border-radius: 2px 5px 12px 5px var(--btn-az);
    transition: 0.5s ease-in-out;
    color: var(--btn-az);
    background-color: transparent;
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .container {
        padding: 2rem;
    }

    .btns {
        font-size: 1rem;
        padding: 0.5rem;
        width: 175px;
        height: 42px;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1249px) {
    .container {
        padding: 2.5rem;
    }

    .btns {
        width: 210px;
        height: 45px;
        padding: 0.75rem 1rem;
    }
}

